[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/10nano/ChibiOS
	branch = master
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/10nano/ChibiOS-Contrib
	branch = master
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/10nano/googletest
[submodule "lib/lufa"]
	path = lib/lufa
	url = https://github.com/10nano/lufa
[submodule "lib/vusb"]
	path = lib/vusb
	url = https://github.com/10nano/v-usb
[submodule "lib/printf"]
	path = lib/printf
	url = https://github.com/10nano/printf
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/10nano/pico-sdk.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/10nano/lvgl.git
	branch = release/v8.2
[submodule "miryoku_babel"]
	path = miryoku_babel
	url = https://github.com/10nano/babel.git
